/* calendar.module.css */
.calendarButton:hover + .calendarWrapper {
  transform: translateX(0);
  display: block;
}

.calendarWrapper {
  all: initial;
  position: absolute;
  top: 100%;
  right: 0%;
  display: none;
  opacity: 1;
  color: #fff;
  background-color: #262626;
}

.calendarWrapper button {
  border: 1px solid lightgrey;
  background: initial;
  font-weight: normal;
}

.calendarWrapper.visible {
  display: block;
}

.calendarWrapper button:hover {
  font-weight: 700;
  color: #000;
}

.calendarWrapper:hover {
  opacity: 1;
  display: block;
}

.rdp-day_selected {
  color: #fff;
}
